<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../reset.css">
    <link rel="stylesheet" href="project_page.css">
    <title>Project Template Page</title>
</head>
<body>
    <!-- <header>Love Mussel</header> -->
    <div class="scroller-container">
        <div class="text-container">
            <p class="project-text title">Love Mussel / Water McBeer Gallery / 2019 </p>
            <a href="https://youtu.be/3y1G3DntX1w">
            <p class="project-text link">https://youtu.be/3y1G3DntX1w</p>
            </a>
            <a href="https://youtu.be/3y1G3DntX1w">
            <p class="project-text link">https://youtu.be/GUEScFIU8bA</p>
            </a>
            <p class="project-text">Evelyn Ansel, Bobby Anspach, Daniel Armitano, Jon Campolo, Kyla Chevrier, Peter Coffin, Roslyn Fok, Laura Serejo Genes, Agusta Gudmondsottir, Hugh Hayden, Leah Hennessy & Emily Allen, Riley Hooker, Miles Huston, Stacy Leigh, Raphael Lyon, Manuel Mathieu, Shawn Maximo, David McQueen, F-Architecture, Fidel Morf & Nicolas Shaltegger, Brenna Murphy, Ben Mendelwicz, Jenna Rosenberg, John Elio Reitman, Isabelle Simpson, Kristin Walsh, Ethan Bond Watts, Sarah Zapata
            </p>
            <br>
            <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Unde possimus esse alias laboriosam 
                consequuntur consequatur tenetur reprehenderit, 
                doloremque soluta est 
                aspernatur, atque ad at quas adipisci impedit vel repudiandae 
                aliquid. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aut, eum? Temporibus, 
                fugiat. Ipsa error dolores nam cum cumque vel, velit, libero 
                nulla unde 
                perferendis ratione magni laudantium dignissimos soluta illo?
            </p> 
            <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Unde possimus esse alias laboriosam 
                consequuntur consequatur tenetur reprehenderit, 
                doloremque soluta est 
                aspernatur, atque ad at quas adipisci impedit vel repudiandae 
                aliquid. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aut, eum? Temporibus, 
                fugiat. Ipsa error dolores nam cum cumque vel, velit, libero 
                nulla unde 
                perferendis ratione magni laudantium dignissimos soluta illo?
            </p> 
            <p class="project-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Unde possimus esse alias laboriosam 
                consequuntur consequatur tenetur reprehenderit, 
                doloremque soluta est 
                aspernatur, atque ad at quas adipisci impedit vel repudiandae 
                aliquid. 
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aut, eum? Temporibus, 
                fugiat. Ipsa error dolores nam cum cumque vel, velit, libero 
                nulla unde 
                perferendis ratione magni laudantium dignissimos soluta illo?
            </p> 
            <div class="text-spacer"></div>
        </div>
        <img class="project-img" src="1_image.jpg" alt="">
        <img class="project-img" src="2_image.jpg" alt="">
        <img class="project-img" src="1_image.jpg" alt="">
        <img class="project-img" src="1_image.jpg" alt="">
        <img class="project-img" src="2_image.jpg" alt="">
        <div class="dead-img"></div>

        <!-- <div class="text-container">
            <p>Love Mussel / Water McBeer Gallery / 2019 </p>
            <a href="https://youtu.be/3y1G3DntX1w">
            <p>https://youtu.be/3y1G3DntX1w</p>
            </a>
            <a href="https://youtu.be/3y1G3DntX1w">
            <p>https://youtu.be/GUEScFIU8bA</p>
            </a>
            <p>Evelyn Ansel, Bobby Anspach, Daniel Armitano, Jon Campolo, Kyla Chevrier, Peter Coffin, Roslyn Fok, Laura Serejo Genes, Agusta Gudmondsottir, Hugh Hayden, Leah Hennessy & Emily Allen, Riley Hooker, Miles Huston, Stacy Leigh, Raphael Lyon, Manuel Mathieu, Shawn Maximo, David McQueen, F-Architecture, Fidel Morf & Nicolas Shaltegger, Brenna Murphy, Ben Mendelwicz, Jenna Rosenberg, John Elio Reitman, Isabelle Simpson, Kristin Walsh, Ethan Bond Watts, Sarah Zapata
            </p>
        </div> -->
    </div>
    <!-- Navigation Home / back to Art -->
    <div class="nav-grid">
        <a class="art-link nav" href="../art_nav.html">
            <p class="art-text nav-text">Art</p>
        </a>
        <a class="home-link nav" href="../index_update.html">
            <p class="home-text nav-text">Home</p>
        </a>
    </div>
    <!-- -END- Navigation Home / back to Art -->
    
</body>
</html>