@font-face {
    src: url(../fonts/hacky_sack/Sack\ NF\ W01\ Regular.ttf);
    font-family: hack;
}
@font-face {
    src: url(../fonts/lazy/LazybonesD/LazybonesD.ttf);
    font-family: lazy;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:320px){
    body {
        background: url(../images/beach_plants1_copy.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position-x: 85%;
        background-position-y: 76%; 
        overflow: hidden;
    }
    header{
        font-family: lazy;
        color: black;
        -webkit-text-fill-color: #0004ff1a;
        -webkit-text-stroke-width: 1.4px;
        -webkit-text-stroke-color: white;
        font-size: 40pt;
        margin: 20px 0 0 0;
        text-align: center;
        width: 100%;
        position: fixed;
    }
    /* BUBBLE TEXT STYLES */
    .bubble-text {
        position: relative;
        height: 2em;
        filter: contrast(1.3)drop-shadow(-4px 4px 2px black);
        display: block;
    }
    .art {
        filter: contrast(1.3)drop-shadow(-4px 4px 2px black);
        top: 51%;
        height: 2.5em;
        transform: rotate(-8deg);
        padding-left: 10px;
    }
    .art-direction {
        /* display: none; */
        top: 20%;
        left: 38%;
        transform: rotate(8deg);
    }
    .shop {
        /* display: none; */
        top: 39%;
        left: 68%;
        transform: rotate(10deg);
    }
    .more {
        /* display: none; */
        top: 54%;
        margin: 0 auto;
    }
    .doggy {
        top:  56.5%;;
        margin: 0 auto;
        height: 17%;
    }
}
@media screen and (min-width:568px){
    .art-direction {
        left: 66%;
        top: 38%;
    }
    .shop {
        top: 62%;
        left: 73%;
    }
    .more {
        top: 51%;
        margin: 0;
        left: 18%;
    }
    .doggy {
        top: 36.5%;
    }
}

@media screen and (min-width:700px) and (min-height:700px) {
    body {
        background-position-x: unset;
    }
    header {
        font-size: 56pt;
        margin-top: 30px;
    }
    .bubble-text {
        height: 3.3em;
    }
    .art {
        padding-left: 5%;
    }
    .art-direction {
        left: 64%;
        top: 50%;
    }
    .doggy {
        height: 7em;
    }
}
@media screen and (min-width:1000px){
    header {
        font-size: 85pt;
        margin-top: 3%;
    }
    .bubble-text {
        height: 4em;
    }
    .art-direction {
        left: 68%;
    }
    .doggy {
        height: 7em;
        top: 42%;
    }
}

