@font-face {
    src: url(../../fonts/frank/FrankfurterChrD/FrankfurterChrD.ttf);
    font-family: frank;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body  {
    background: url(images/cement1.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

@media screen and (min-width:320px) {
    .nav-text { 
        font-family: frank;
        font-size: 30pt;
        display: block;
        filter: drop-shadow(-2px 2px 1px #a3ff00);
        color: white;
    }
    .nav-grid {
        width: 100%;
        height: 100%;
        position: fixed;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr; 
    }
    a {
        width: 100%;
        align-self: end;
        text-decoration: none;
        filter: drop-shadow(0 0px 3px lime);
    }
    .art-link {
        margin-left: 1em;
    }
    .home-link {
        text-align: right;
        margin-left: -1em;
    }
 /* - - - - - - - - - - - */
    /* VIDEO STYLES */
    .scroll-right {
        font-size: 30pt;
        color: #a3ff00;
    }
    .video-grid {
        width: 100%;
        height: 80%;
        margin: 10% 0 0 0;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 15% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 
        100% 100% 100% 100% 100% 100% 100% 100% 100% 100% 
        100% 100% 100% 100% 100% 100% 100% 100% 100% 100%
        100% 100% 100% 100% 100% 100% 100% 100% 100% 100%;
        grid-gap: 1em;
        align-items: center;
    }
    .div-frame {
        height: 100%;
        width: 100%;
        position: relative;
    }
    iframe {
        height: 100%;
        width: 100%;
        filter: drop-shadow(-8px 10px 8px #2000ff);
    }
    
}

@media screen and (min-width:568px) {
    .video-grid {
        width: 100%;
        height: 75%;
        margin: 4% 0 0 0;
        overflow-x: scroll;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 15% 35% 35% 35% 35%;
        align-items: center;
    }
    video {
        width: 90%;
    }
}

@media screen and (min-width: 700px){
    a {
        margin-bottom: 1.5em;
    }
    .nav-text {
        font-size: 40pt;
    }
    .art-link {
        margin-left: 4em;
    }
    .home-link {
        margin-left: -4em;
    }
}

@media screen and (min-width: 1000px){
    a {
        margin-bottom: 2em;
    }
    .nav-text {
        font-size: 50pt;
    }
    .art-link {
        margin-left: 6em;
    }
    .home-link {
        margin-left: -6em;
    }
}