@font-face {
    src: url(../../fonts/frank/FrankfurterChrD/FrankfurterChrD.ttf);
    font-family: frank;
}
body, html {
    height: 100%;
    width: 100%;
}

body {
    background: url(images/beach_3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

@media screen and (min-width:320px) {
    header {
        color: white;
        font-family: frank;
        font-size: 35pt;
        text-align: center;
    }
    .project-wrapper {
        height: 40vw;
        width: 40vw;
        border: 16px solid #00ff08;
        display: block;
        margin: 5em auto;
    }
    
    .folder-icon {
        width: 90%;
    }
}

