@font-face {
    src: url(../../fonts/frank/FrankfurterChrD/FrankfurterChrD.ttf);
    font-family: frank;
}
body, html {
    height: 100%;
    width: 100%;
}

body {
    background: url(images/beach_3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

@media screen and (min-width:320px) {
    
    .project-wrapper {
       width: fit-content;
       height: fit-content;
       display: grid;
       align-items: center;
    }
    a {
        grid-row-start: 1;
        grid-column-start: 1;
    }
    
    .project-icon {
        width: 8em;
    }
    p {
        grid-row-start: 1;
        font-family: frank;
        color: white;
        grid-column-start: 1;
        font-size: 20pt;
        filter: drop-shadow(0px 0px 1px #ff00cbœœ);
    }
}

